.app {
    display: flex;
    justify-content: space-around;
}

.side-menu {
    width: 100%;
    border-right: 2px solid #E8EAED;
    background-color: #FAFBFB;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E8EAED;
}

.header-title {
    display: flex;
    align-items: center;
    padding: 20px;
}

.app-title {
    margin-left: 10px;
    font-size: 20px;
}

.add-icon {
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.memo-search {
    width: 90%;
    margin: 10px auto 20px;
    padding: 10px;
    border: 2px solid #E8EAED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.memo-item {
    width: 85%;
    margin: 10px auto 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}

.memo-item:hover{
    background-color: #E8EAED;
}

.memo-title {
    color: #6C7381;
}

.memo-button {
    width: 90%;
    height: 35px;
    margin: 10px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form {
    width: 100%;
}

.title-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-title {
    margin: 20px;
    padding: 5px;
    border: none;
    color: #9CA3AF;
    font-weight: bold;
    font-size: 20px;
}

.delete-icon {
    margin-right: 20px;
    cursor: pointer;
}

.form-text {
    width: 90%;
    margin: 20px;
    padding: 5px;
    border: 2px solid #E8EAED;
    border-radius: 5px;
    color: #9CA3AF;
    font-weight: bold;
    font-size: 20px;
}